= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = label_tag :body_html
    = text_field_tag :body_html
    = "<div>Клиент: Хохлов</div><a href='/'>64736</a>"
  .actions{style: 'margin: 20px 0;'}
    = f.submit 'Сохранить'
