<h2>Авторизация</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Войти" %></div>
<% end %>

<div>registrator testtest</div>
<div>user_1 testtest</div>
<div>user_2 testtest</div>